<!doctype html>
<html lang="ko" class="done" style="height: fit-content">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>기본 레이아웃</title>
    <!--@css(/layout/basic/css/common.css)--><!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@css(/layout/basic/css/ec-base-tab.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->
    <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    <!--@css(/layout/basic/css/ec-base-box.css)-->
    <!--@css(/layout/basic/css/ec-base-desc.css)-->
    <!--@css(/layout/basic/css/ec-base-paginate.css)-->
    <!--@css(/layout/basic/css/ec-base-layer.css)-->

    <!--@js(/js/common.js)-->
    <!--@js(/layout/basic/js/popup.js)-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">  <!-- 강조글: Montserrat -->
    <link href="https://webfontworld.github.io/sunn/SUIT.css" rel="stylesheet"> <!-- 기본폰트: SUIT -->

    <!-- ogam -->
    <!--@import(/ogam/html/common/layout_import.html)-->
    <!-- //ogam -->

</head>

<body id="popup" class="done">
    <div id="contents">
        <!--@contents-->
    </div>
    <script>
        var ord=Math.random();
        document.write('<script async src="/ogam/js/common/og_setting.js?v='+ord+'"><\/script><script src="/ogam/js/common/og_util.js?v='+ord+'"><\/script><script src="/ogam/js/common/og_common.js?v='+ord+'"><\/script>');
    </script>

    <!--@css(/layout/basic/css/sub_style.css)-->
    <!--@css(/layout/basic/css/sub_theme.css)-->
    <!--@css(/layout/basic/css/add_theme01.css)-->
    <!--@css(/layout/basic/css/add_theme02.css)-->
    <!--@css(/layout/basic/css/add_theme03.css)-->
    <!--@css(/layout/basic/css/add_layout.css)-->
</body>
</html>